n8n/activitywatch_collector.json
{
  "name": "ActivityWatch → Google Sheets Collector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 55
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3f23fce6-162e-4b62-907c-ace6ce24837b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:5600/api/0/buckets/aw-watcher-web-chrome_<YOUR_DEVICE_NAME>/events",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{ $now.setZone('<YOUR_TIMEZONE>').minus({ hours: 1 }).toISO() }}"
            },
            {
              "name": "end",
              "value": "={{ $now.setZone('<YOUR_TIMEZONE>').toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "43183f76-8b62-44eb-af19-0b226ba4bded",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "<YOUR_GOOGLE_SHEET_ID>",
          "mode": "list",
          "cachedResultName": "ActivityWatch_Data",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.setZone('<YOUR_TIMEZONE>').toFormat('yyyy-MM-dd') }}",
            "Website": "={{ $json.data.url }}",
            "Duration_Seconds": "={{ $json.duration }}",
            "Page_Title": "={{ $json.data.title }}",
            "Time": "={{ $now.setZone('<YOUR_TIMEZONE>').toFormat('HH:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration_Seconds",
              "displayName": "Duration_Seconds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Page_Title",
              "displayName": "Page_Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "ff45391c-0ae2-4f5d-90ff-8dea803d45e0",
      "name": "Append row in sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "<YOUR_TIMEZONE>",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": []
}